<main-nav></main-nav>
<dashboard>


</dashboard>

<!--<div>operator</div>-->
<!--<button (click)="addOperator()">-->
  <!--+-->
<!--</button>-->
<!---->
<!--<div>stream</div>-->
<!--<button (click)="addStream()">-->
  <!--+-->
<!--</button>-->

<!--<div #stream class="stream">-->
  <!--<app-stream>-->
  <!--</app-stream>-->
  <!--<button class="add-button" (click)="addMarble()">-->
    <!--+-->
  <!--</button>-->
  <!--<div class="stream-line">-->
  <!--</div>-->
    <!--<app-marble draggable [value]="v">-->
      <!--{{v}}-->
    <!--</app-marble>-->
  <!--<app-marble draggable [value]="1">-->
    <!--1-->
  <!--</app-marble>-->
  <!--<app-marble draggable [value]="2">-->
    <!--2-->
  <!--</app-marble>-->
  <!--<app-marble draggable [value]="3">-->
    <!--3-->
  <!--</app-marble>-->
<!--</div>-->

<!--<app-operator [value]="'map(x => x * 2)'">-->
<!--</app-operator>-->



