:host {
  display: block;
  height: 40px;
}
.stream-line {
  position: relative;
  margin-left: 10px;
  //margin-right: 10px;
  width: 90%;
  height: 4px;
  background-color: #999999;
  border-ladius: 0 2px 2px 0;
  top: 22px;
  z-index: 0;
}
.add-button {
  display: inline-block;
}
app-marble {
  //margin-left: 50px;
}
app-marble:nth-child(4n) {
  background-color: #8FC31F;
}
app-marble:nth-child(4n+1) {
  background-color: #E4007F;
}
app-marble:nth-child(4n+2) {
  background-color: #0068B7;
}
app-marble:nth-child(4n+3) {
  background-color: #F39800;
}

