:host {
  display: block;
  height: 40px;
}
.stream-line {
  position: relative;
  margin-left: 10px;
  //margin-right: 10px;
  width: 90%;
  height: 4px;
  background-color: #999999;
  border-ladius: 0 2px 2px 0;
  top: 22px;
  z-index: 0;
}
.add-button {
  display: inline-block;
}
app-marble {
  //margin-left: 50px;
}
app-marble:nth-child(8n) {
  background-color: #8FC31F;
  left: 0px;
}
app-marble:nth-child(8n+1) {
  background-color: #E4007F;
  left: 50px;
}
app-marble:nth-child(8n+2) {
  background-color: #0068B7;
  left: 100px;
}
app-marble:nth-child(8n+3) {
  background-color: #F39800;
  left: 150px;
}
app-marble:nth-child(8n+4) {
  background-color: #920783;
  left: 200px;
}
app-marble:nth-child(8n+5) {
  background-color: #009E96;
  left: 250px;
}
app-marble:nth-child(8n+6) {
  background-color: #E60012;
  left: 300px;
}
app-marble:nth-child(8n+7) {
  background-color: #00A0E9;
  left: 350px;
}
