:host {
  display: block;
  height: 40px;
}
.stream-line {
  display:inline-block;
  height:5px;
  width: 90%;
  background-color:#999999;
  position:relative;
  top:10px;
}
// Caret
.stream-line::before{
  position:absolute;
  content:"";
  width:0;
  height:0;
  border:9px solid transparent;
  border-left:9px solid #999999;
  left:calc(100%);
  top:-6px;
}

app-marble:nth-child(8n) {
  background-color: #009E96;
  left: 0px;
}
app-marble:nth-child(8n+1) {
  background-color: #920783;
  left: 50px;
}
app-marble:nth-child(8n+2) {
  background-color: #0068B7;
  left: 100px;
}
app-marble:nth-child(8n+3) {
  background-color: #E4007F;
  left: 150px;
}
app-marble:nth-child(8n+4) {
  background-color: #8FC31F;
  left: 200px;
}
app-marble:nth-child(8n+5) {
  background-color: #F39800;
  left: 250px;
}
app-marble:nth-child(8n+6) {
  background-color: #E60012;
  left: 300px;
}
app-marble:nth-child(8n+7) {
  background-color: #00A0E9;
  left: 350px;
}
