.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 3px;
  left: 15px;
  right: 15px;
  bottom: 3px;
  padding: 0;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

